.App {
  text-align: center;
}
#chatCon {
  max-width: 100%;
  width: 100%;
  position: absolute;
  bottom: 3%;
  right: 0;
}

#chatCon .chat-box {
  /* display: none; */
  position: absolute;
  width: 100%;
  height: 500px;
  background-color: #f8f9fa;
  bottom: 0px;
  right: 3%;
  z-index: 200000000000000;
}

@media only screen and (min-width: 641px) {
  #chatCon {
    max-width: 100%;
    width: 300px;
    position: absolute;
    bottom: 3%;
    right: 0;
  }

  #chatCon .chat-box {
    /* display: none; */
    position: absolute;
    width: 100%;
    height: 500px;
    background-color: #f8f9fa;
    bottom: 0px;
    right: 3%;
    z-index: 200000000000000;
  }
}

#chatCon .pop {
  width: 100%;
  height: 25%;
  cursor: pointer;
}

#chatCon .pop span {
  background: #1ad01a;
  border-radius: 50%;
  color: white;
  padding: 15px;
}
